<tars>
	<application>
		enableset=N
		setdivision=NULL
		<client>
			locator=
			sync-invoke-timeout=20000
			async-invoke-timeout=20000
			refresh-endpoint-interval=60000
			#stat=tars.tarsstat.StatObj
			#property=tars.tarsproperty.PropertyObj
			report-interval=60000
			modulename=Unite.SwitcherServer
		</client>
		<server>
			node=
            app=Unite
            server=SwitcherServer
            localip=127.0.0.1
            local=tcp -h 127.0.0.1 -p 18601 -t 3000
            basepath=./data
            datapath=./data
            logpath=./data/logs
            loglevel=DEBUG
            logsize=15M
            log=
            config=tars.tarsconfig.ConfigObj
            notify=tars.tarsnotify.NotifyObj
            mainclass=com.yuewen.nrzx.switcher.SwitcherApplication
            jvmparams=-Xms512m -Xmx512m
            sessiontimeout=120000
            sessioncheckinterval=60000
            tcpnodelay=true
            udpbuffersize=8192
            charsetname=UTF-8
			<Unite.SwitcherServer.SwitchObjAdapter>
				allow
				endpoint=tcp -h 0.0.0.0 -p 18600 -t 6000
				handlegroup=Unite.SwitcherServer.SwitchObjAdapter
				maxconns=2000
				protocol=tars
				queuecap=1000
				queuetimeout=6000
				servant=Unite.SwitcherServer.SwitchObj
				shmcap=0
				shmkey=0
				threads=5
			</Unite.SwitcherServer.SwitchObjAdapter>
			<Unite.SwitcherServer.HttpGatewayAdapter>
				allow
				endpoint=tcp -h 0.0.0.0 -p 19600 -t 6000
				handlegroup=Unite.SwitcherServer.HttpGatewayAdapter
				maxconns=2000
				protocol=http
				queuecap=1000
				queuetimeout=6000
				servant=Unite.SwitcherServer.HttpGateway
				shmcap=0
				shmkey=0
				threads=5
			</Unite.SwitcherServer.HttpGatewayAdapter>
		</server>
	</application>
</tars>
